services:
  splunk:
    image: splunk/splunk:latest
    user: root
    hostname: splunk
    environment:
      SPLUNK_START_ARGS: --accept-license --no-prompt --answer-yes
      SPLUNK_GENERAL_TERMS: --accept-sgt-current-at-splunk-com
      SPLUNK_USERNAME: admin
      SPLUNK_PASSWORD: 123456789
      SPLUNK_ENABLE_LISTEN: 9997
      SPLUNK_ADD: tcp 15140
    volumes:
      - splunk-etc:/opt/splunk/etc
      - splunk-var:/opt/splunk/var
    ports:
      - "8000:8000"
      - "9997:9997"
      - "8088:8088"
      - "1514:1514"
      - "8089:8089"
    logging:
      driver: splunk
      options:
        splunk-url: http://localhost:8088
        splunk-index: logs_store_app
        splunk-token: d31632c8-b033-416d-a2ed-2e4f8b3202cc
        splunk-source: store-api-observability
        splunk-format: "json"
        splunk-insecureskipverify: "true"
        splunk-verify-connection: "false"

volumes:
  splunk-etc:
  splunk-var:
