<configuration>
    <!-- é possível importar as classes em vez de referenciar toda vez o caminho completo -->
    <import class="ch.qos.logback.core.ConsoleAppender" />
    <import class="ch.qos.logback.core.FileAppender" />
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
    <import class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder" />

    <timestamp key="timestamp" datePattern="yyyyMMdd'T'HHmm"/>

    <!-- appender específico para arquivo -->
    <appender name="FILE" class="FileAppender">
        <!-- local onde o arquivo será gravado
            OBS: é possível adicionar varávis de ambiente para customizar o nome e o local do arquivo gerado (ex: data/hora)
        -->
        <file>logs/application-${timestamp}.log</file>
        <encoder class="PatternLayoutEncoder">
            <!--
            pattern de escrita de cada linha de log
                * %d{HH:mm:ss.SSSZZ} - timestamp do evento de log
                * [%thread] - thread da aplicação em que o log foi gerado
                * %-5level - nível de log (ERROR, INFO, DEBUG, etc.)
                * %X{traceId} - variável específica "traceID" no MDC
                                poderia colocar %X para exibir todas
                                as variáveis
                * %X{host} - variável específica "host" no MDC
                            poderia colocar %X para exibir todas
                            as variáveis
                * %logger{36} - classe em que o log foi gerado
                                nome limitado a 36 caracteres
                * %msg%n - mensagem acompanhada de exceção + stack trace
            -->
            <pattern>
                %d{HH:mm:ss.SSSZZ} [%thread] %-5level %X{traceId} %X{host} %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- é possível ter múltiplos appenders -->
    <appender name="STDOUT_PLAIN" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <!-- ... e com formatos diferentes -->
            <pattern>
                %d{HH:mm:ss.SSSZZ} [%thread] %-5level %X %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_JSON" class="ConsoleAppender">
        <!-- classe net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder permite usar formato JSON -->
        <encoder class="LoggingEventCompositeJsonEncoder">
            <providers>
                <!-- a biblioteca conhece o campo timestamp... -->
                <timestamp>
                    <!-- ... mas é possível customizar o nome e até o formato -->
                    <fieldName>ts</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <callerData>
                    <classFieldName>class</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <lineFieldName>line</lineFieldName>
                    <fileFieldName>file</fileFieldName>
                </callerData>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <mdc />
                <stackTrace>
                    <fieldName>stack</fieldName>
                </stackTrace>
                <message>
                    <fieldName>msg</fieldName>
                </message>

                <!--
                    é possível capturar argumentos dos métodos em que o log foi registrado
                    OBS: cuidado com as políticas de segurança e privacidade de dados  -->
                <arguments>
                    <includeNonStructuredArguments>true</includeNonStructuredArguments>
                    <nonStructuredArgumentsFieldPrefix>argument:</nonStructuredArgumentsFieldPrefix>
                </arguments>
            </providers>
        </encoder>
    </appender>

    <!--
        mesmo tendo uma configuração global de nível de log,
        é possível customizar os níveis segundo o package de cada
        classe que estive logando -->
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.mortbay.log" level="WARN" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.beans" level="WARN" />

    <!-- por exemplo para a aplicação estou habilitando a opção de DEBUG -->
    <logger name="store" level="DEBUG" />

    <!--
        aqui é onde você habilita/desabilita quais Appenders vai utilizar
        o que facilita a manutenção, sem ter que ficar movendo código -->
    <root level="INFO">
        <!-- OBS: Appender STDOUT_PLAIN está desativado-->
        <!--<appender-ref ref="STDOUT_PLAIN" />-->

        <!-- é possível utilizar vários Appenders simultaneamente -->
        <appender-ref ref="STDOUT_JSON" />
<!--        <appender-ref ref="FILE" />-->
    </root>
</configuration>